* {
  outline: 1px dotted orange;
  color: black;
  background-color: green;
}
img {
  width:200px;
  height:200px;
}

h1 {
  font-family: Arial;
  color: blue;
  font-size: 25px;
  text-align: center;
}
#Objective {
  color: black;
  font-family:Arial;
  font-size: 25px;
  text-align: center;
}
#first {
  font-size: 15px;
  font-family:cursive;;
  color: black;
}
#Education {
  color: black;
  font-size:25px;
  text-align: center;
  font-family: Arial;
}
#education {
  color: black;
  font-family:cursive;;
  font-size: 15px;
}
#job{
  text-align: center;
  color:black;
  fon-size:25px;
}
#Job{
  color:black;
  font-family:cursive;
  font-size:15px;
}
#hobbies {
  color: black;
  font-size:25px;
  text-align: center;
  font-family: Arial;
}
tr {
  color: black;
  font-size:15px;
  font-family: cursive;
}
#goal{
  text-align: center;
  color:black;
  font-size: 25px;
  font-family:Arial;
}
#g{
  color: black;
  font-size:15px;
  font-family:cursive;
}
li {
  font-family: cursive;
}
ol{
  text-align: center;
  font-family: Arial;
  font-size: 25px;
}
